*               text=auto   eol=fl

*.yaml          text        eol=fl
*.yml           text        eol=fl
*.md            text        eol=fl

.gitattributes  text        eol=fl
.*config        text        eol=fl
.*ignore        text        eol=fl
LICENSE         text        eol=fl
